@import '../../../Styles/main';

.loginFormContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        flex-flow: column;
        width: 300px;

        .dataWrapper {
            height: 100px;
            display: flex;
            flex-flow: column;
            justify-content: space-evenly;

            .formElement {
                display: flex;
                justify-content: space-around;

                label {
                    flex: 1 0 auto;
                    color: $grey;
                    font-size: 16px;
                }

                input {
                    flex: 2 0 auto;
                    font-size: 16px;
                    max-width: 180px;
                    padding: 4px;
                    background-color: $light;
                    border: 1px solid $grey;
                    border-radius: 4px;
                }
            }

            .loginRememberCheckBox {
                display: flex;
                justify-content: center;

                label {
                    color: $grey;
                    font-size: 14px;
                }
            }
        }
        .buttonWrapper {
            .formElement {
                .loginButton {
                    background-color: $blue;
                    color: $light;
                    padding: 4px $gapMedium;
                    border: 2px solid $blue;
                    border-radius: 4px;
                    font-size: 18px;
                    margin-top: $gapMedium;
                }
            }
        }
    }

    @include respond-to(mobile) {
        .container {
            width: 100%;
        }
    }
}