/* Coolors Exported Palette - coolors.co/f0edf2-e86e22-28965a-386fa4-2b2c28 */

$light: rgba(240, 237, 242, 1);
$orange: rgba(232, 110, 34, 1);
$green: rgba(40, 150, 90, 1);
$blue: rgba(56, 111, 164, 1);
$grey: rgb(69, 72, 73);
$dark: rgba(43, 44, 40, 1);